USE [master]
GO
/****** Object:  Database [QUANLYDOAN]    Script Date: 6/27/2020 4:43:04 PM ******/
CREATE DATABASE [QUANLYDOAN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUANLYDOAN', FILENAME = N'A:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QUANLYDOAN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QUANLYDOAN_log', FILENAME = N'A:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QUANLYDOAN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUANLYDOAN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUANLYDOAN]
GO
/****** Object:  Table [dbo].[BAOCAO]    Script Date: 6/27/2020 4:43:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOCAO](
	[STT] [int] NOT NULL,
	[NhanXet] [nvarchar](1000) NULL,
	[TaiLieu] [varchar](1000) NULL,
	[MaDeTai] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[STT] ASC,
	[MaDeTai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETAI]    Script Date: 6/27/2020 4:43:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETAI](
	[MaDeTai] [varchar](20) NOT NULL,
	[TenDeTai] [nvarchar](1000) NULL,
	[LoaiDeTai] [nvarchar](1000) NULL,
	[Solan] [int] NULL,
	[TGBD] [datetime] NULL,
	[TGKT] [datetime] NULL,
	[MaGV] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDeTai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETAISINHVIENs]    Script Date: 6/27/2020 4:43:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETAISINHVIENs](
	[MaDeTai] [varchar](20) NOT NULL,
	[MaSV] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDeTai] ASC,
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAOVIEN]    Script Date: 6/27/2020 4:43:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAOVIEN](
	[MaGV] [varchar](10) NOT NULL,
	[HoTen] [nvarchar](1000) NULL,
	[Phai] [nchar](10) NULL,
	[Ngaysinh] [datetime] NULL,
	[SDT] [varchar](20) NULL,
	[Email] [varchar](1000) NULL,
	[Picture] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAOVIENSINHVIENs]    Script Date: 6/27/2020 4:43:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAOVIENSINHVIENs](
	[MaGV] [varchar](10) NOT NULL,
	[MaSV] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC,
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 6/27/2020 4:43:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MaSV] [varchar](10) NOT NULL,
	[HoTen] [nvarchar](1000) NULL,
	[Gioitinh] [nchar](10) NULL,
	[Ngaysinh] [datetime] NULL,
	[SDT] [varchar](20) NULL,
	[Email] [varchar](1000) NULL,
	[Picture] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 6/27/2020 4:43:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[ID] [int] NOT NULL,
	[MaUser] [varchar](100) NULL,
	[Pass] [varchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BAOCAO] ([STT], [NhanXet], [TaiLieu], [MaDeTai]) VALUES (1, N'111', N'1111', N'789')
INSERT [dbo].[BAOCAO] ([STT], [NhanXet], [TaiLieu], [MaDeTai]) VALUES (2, N'hoàn thành tốt', N'www', N'789')
INSERT [dbo].[DETAI] ([MaDeTai], [TenDeTai], [LoaiDeTai], [Solan], [TGBD], [TGKT], [MaGV]) VALUES (N'012', N'simplenote', N'Đồ án môn học', 4, CAST(N'2020-06-26T13:01:13.000' AS DateTime), CAST(N'2020-06-27T13:01:13.000' AS DateTime), N'223')
INSERT [dbo].[DETAI] ([MaDeTai], [TenDeTai], [LoaiDeTai], [Solan], [TGBD], [TGKT], [MaGV]) VALUES (N'789', N'host', N'Đồ án môn học', 4, CAST(N'2020-06-19T00:34:33.000' AS DateTime), CAST(N'2020-06-20T00:34:33.000' AS DateTime), N'224')
INSERT [dbo].[DETAISINHVIENs] ([MaDeTai], [MaSV]) VALUES (N'012', N'123')
INSERT [dbo].[DETAISINHVIENs] ([MaDeTai], [MaSV]) VALUES (N'012', N'125')
INSERT [dbo].[DETAISINHVIENs] ([MaDeTai], [MaSV]) VALUES (N'789', N'123')
INSERT [dbo].[GIAOVIEN] ([MaGV], [HoTen], [Phai], [Ngaysinh], [SDT], [Email], [Picture]) VALUES (N'224', N'minh', N'Nam       ', CAST(N'1999-06-18T00:00:00.000' AS DateTime), N'12344', N'ddrrtggg', NULL)
INSERT [dbo].[USERS] ([ID], [MaUser], [Pass]) VALUES (1, N'111', N'12345')
INSERT [dbo].[USERS] ([ID], [MaUser], [Pass]) VALUES (2, N'124', N'12345')
INSERT [dbo].[USERS] ([ID], [MaUser], [Pass]) VALUES (3, N'224', N'12345')
ALTER TABLE [dbo].[BAOCAO]  WITH CHECK ADD FOREIGN KEY([MaDeTai])
REFERENCES [dbo].[DETAI] ([MaDeTai])
GO
ALTER TABLE [dbo].[DETAI]  WITH CHECK ADD  CONSTRAINT [FK__DETAI__MaGV__160F4887] FOREIGN KEY([MaGV])
REFERENCES [dbo].[GIAOVIEN] ([MaGV])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DETAI] CHECK CONSTRAINT [FK__DETAI__MaGV__160F4887]
GO
ALTER TABLE [dbo].[DETAISINHVIENs]  WITH CHECK ADD FOREIGN KEY([MaDeTai])
REFERENCES [dbo].[DETAI] ([MaDeTai])
GO
ALTER TABLE [dbo].[DETAISINHVIENs]  WITH CHECK ADD FOREIGN KEY([MaSV])
REFERENCES [dbo].[SINHVIEN] ([MaSV])
GO
ALTER TABLE [dbo].[GIAOVIENSINHVIENs]  WITH CHECK ADD FOREIGN KEY([MaGV])
REFERENCES [dbo].[GIAOVIEN] ([MaGV])
GO
ALTER TABLE [dbo].[GIAOVIENSINHVIENs]  WITH CHECK ADD FOREIGN KEY([MaSV])
REFERENCES [dbo].[SINHVIEN] ([MaSV])
GO
USE [master]
GO
